.center{
    text-align: center;
}
.table-actions > tbody > tr > td:nth-last-child(2), .table-actions-view > tbody > tr > td:nth-last-child(3){
    border-right: none !important;
    border-left: none !important;
    text-align: center;
}
.table-actions > tbody > tr > td:nth-last-child(1){
    border-right: none !important;
    border-left: none !important;
    text-align: center;
}

.table-actions > tbody > tr > td:nth-last-child(3){
    border-right: none !important;
    border-left: none !important;
    text-align: center;
}
#page-wrapper{
    margin-top:-22px;
}
.formHeader{
    text-align: center;
    padding: 0px 0px 10px 0px;
}
.mRight58{
    margin-left:58px !important;
}
.mRight10{
    margin-left:10px !important;
}
.separte{
    margin-right:20px;
}
.top-buffer{
    margin-top:30px;
}
.top-pad-buffer{
    padding-top:30px;
}
#notificationsBox{
    padding-top:50px;
}
h1.page-header{
    margin-top:10px;
}
.final{
    margin: 10px 0px 50px 0px;
}